<div class="jumbotron">
    <h2>{{title}}</h2>
</div>
<input type="text" id="keyword" class="form-control" placeholder="Keyword">
&nbsp;
<ul class="list-group">
    {{#each posts}}
        <li class="list-group-item">{{title}}<span class="badge badge-primary badge-pill">{{year}}</span></li>
    {{/each}}
</ul>
